/* Adjust main content below navbar */
.main-content {
  height: 100vh;
  width: 100vw;
  margin-top: 60px;
  scroll-behavior: smooth;
  overflow-y: scroll;
  scrollbar-width: 0;
  padding: 20px;
  background: #f7f9fa;
  margin-top: 70px;

}

/* Hide scrollbar globally but keep scrolling enabled */
body {
  overflow: scroll;
  overflow: hidden; /* Hides the default scrollbar */
}



